.container {
    max-width: 400px;
    display: block;
    margin: 100px auto 0;
}

.container h2 {
    margin-bottom: 20px;
}

.container .responseMsg {
    margin-bottom: 16px;
}

.inputWrapper {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.inputWrapper input {
    width: 100%;
    font-size: 18px;
    padding: 4px;
    border-radius: 8px;
}

.inputWrapper input:focus-visible {
    outline: unset;
}

.inputWrapper p {
    margin-top: 4px;
    color: red;
}

.container button {
    background-color: black;
    color: white;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 12px;
    border: unset;
}
