.container {
    max-width: 400px;
    display: block;
    margin: 100px auto 0;
}

.container h2 {
    margin-bottom: 20px;
}

.container .responseMsg {
    margin-bottom: 16px;
}

.container button {
    background-color: black;
    color: white;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 12px;
    border: unset;
}
